@import 'tailwindcss';
@plugin "daisyui";

@font-face {
    font-family: "SourceCodePro";
    src: url('./assets/SourceCodePro-VariableFont_wght.ttf');
}

@font-face {
    font-family: "SourceCodePro Italic";
    src: url('./assets/SourceCodePro-Italic-VariableFont_wght.ttf');
}